header{
    display: flex;
    justify-content: space-around;
}

.bank-company{
    display: flex;
    justify-content: center;
}

.menus nav{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 30px;
    gap: 0 50px;
}
.menus nav li{
    list-style-type: none;
}

.profile{
    display: flex;
}