.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
}
.account-operation  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-operation .sub-operation{
    max-width: 500px;
}